*
{
    margin:0;
    padding:0;
    font-family: consolas;
}
section
{
    padding:50px;
    background:#000000;
}
section h2
{
    font-size:2.5em;
    color:#ffffff;
}
section p
{
    font-size: 1.2em;
    color:#ffffff;
}

::-webkit-scrollbar
{
    width:0;
}
#scrollpath
{
    position:fixed;
    top:0;
    right:0;
    width:10px;
    height: 100px;
    background:rgba(255,255,255,0.05);
}
#progressbar
{
    position:fixed;
    top:0;
    right:0;
    width: 10px;
    height: 100px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,100%
    {
        filter : hue-rotate(0deg);
    }
    50%
    {
        filter :hue-rotate(360deg);
    }
}
#progressbar:before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter : blur(10px);
}
#progressbar:after
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter : blur(30px);
}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    flex-direction:column;
    background:#000000 ;
}
a
{
    position: relative;
    display: inline-block;
    padding:12px 36px;
    margin: 10px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing:2px;
    border-radius:40px;
    overflow:hidden;
    background: linear-gradient(90deg, #0162c8,#55e7fc);

}
a:nth-child(2)
{
    background: linear-gradient(90deg,#755bea,#ff72c0)

}
span{
    position: absolute;
    background: #fff;
    transform:translate(-50%,-50%);
    pointer-events:none;
    border-radius:50%;
    animation:animate2 1s linear infinite;
}
@keyframes animate2
{
    0%
    {
        width:0px;
        height:0ps;
        opacity: 0.5;
    }
    100%
    {
        width:500px;
        height:500px;
        opacity: 0;

    }
    canvas {
        width: 100%;
        height: 100%;
      }
}